.rover-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey-background);
    border-radius: 5px;
    border: 1px solid var(--grey-border);
    margin-bottom: 12px;
    margin-top: 12px;
}

.rover-pick {
    margin-top: 6px;
}

input {
    margin-left: 10px;
    margin-right: 5px;
}

select, option {
    color: var(--grey-background);
}


.rover-container {
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
}

.camera-container {
    margin-bottom: 12px;
}

.sol-container {
    margin-bottom: 12px;
}

.rover-button {
    margin-bottom: 12px;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--grey-accent);
    color: var(--grey-border-hover);
    border: 1px solid var(--grey-border);
}

.rover-button:hover {
    color: var(--red-accent);
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 12px;

    background-color: var(--grey-background);
    padding: 10px;
    border: 1px solid var(--grey-border);
    border-radius: 4px;
    max-width: 100vw;
}

.no-result {
    color: var(--red-accent);
}

