:root {
    --black-background: #030303;
    --grey-background: #1A1A1B;
    --grey-accent: #272729;
    --red-accent: #D1342F;
    --grey-border: #343536;
    --grey-border-hover: #818384;
    --white-text: #D7DADC;
}

footer {
    background-color: var(--grey-background);
    border-top: 1px solid var(--grey-border);
    padding: 6px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.icon-container {

}