footer {
    background-color: var(--grey-background);
    border-top: 1px solid var(--grey-border);
    padding: 6px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
