:root {
    --black-background: #030303;
    --grey-background: #1A1A1B;
    --grey-accent: #272729;
    --red-accent: #D1342F;
    --grey-border: #343536;
    --grey-border-hover: #818384;
    --white-text: #D7DADC;
}

.search-form {
    display: flex;
    justify-content: space-between;
    background-color: var(--grey-background);
    padding: 8px;
    border: 1px solid var(--grey-border);
    border-radius: 4px;
    margin-top: 12px;
    min-width: 350px;
}

/*.search-form:hover, .search-form:active {*/
/*    border: 1px solid var(--grey-border-hover);*/
/*}*/

input {
    background-color: var(--grey-accent);
    width: 90%;
    border-radius: 4px;
    padding: 5px;
    border: 0;
    outline: none;
    color: var(--white-text);
}

.search-button {
    background-color: var(--black-background);
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid var(--grey-border)
}

.search-button:hover {
    border: 2px solid var(--grey-border-hover)
}

.title-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.no-result {
    color: var(--red-accent);
}

.article-container {
    background-color: var(--grey-background);
    padding: 10px;
    border: 1px solid var(--grey-border);
    margin-bottom: 12px;
    border-radius: 4px;
}