:root {
    --black-background: #030303;
    --grey-background: #1A1A1B;
    --grey-accent: #272729;
    --red-accent: #D1342F;
    --grey-border: #343536;
    --grey-border-hover: #818384;
    --white-text: #D7DADC;
}

.outer-container {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inner-container {
    flex-basis: 1000px;
}

.outer-container-header {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     position: sticky;
     top: 0;
 }

.inner-container-header {
    flex-basis: 1600px;
}

.outer-container-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.inner-container-footer {
    flex-basis: 1600px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    z-index: -1;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.auth-form {
    background-color: var(--grey-background);
    padding: 12px;
    margin-top: 12px;
    border: 1px solid var(--grey-border);
    border-radius: 4px;
}

.auth-form input {
    margin-left: 0;
    background-color: var(--grey-accent);
    margin-bottom: 6px;
}

.auth-button {
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--grey-accent);
    color: var(--grey-border-hover);
    border: 1px solid var(--grey-border);
}

.auth-button:hover {
    color: var(--red-accent);
}

.button-container{
    display: flex;
    justify-content: space-between;
}

.signup-link {
    color: red;
}

.button-container-register {
    display: flex;
    justify-content: flex-end;
}


